$tablet-width: 768px;
$desktop-width: 1440px;

$color-red: #FF5252;
$color-red2: #F27758;
$color-red3: #F26A35;
$color-black: #212121;
$color-grey: #DCDCDC;
$color-grey2: #E9E9E9;
$color-grey3:#BDBDBD;
$color-drkgrey: #757575;
$color-red-gradient: linear-gradient(90deg, #F26A35, #EE3048);
